body
{
    background-color: darkcyan;
}
h1
{
    color: azure;
    text-align: center;
}
h2
{
    color:azure;
    text-align: center;
}
text
{
    flex: 0 1 40px;
    width: 100%;
    padding: 10px;
    position: relative;
}
.popup h2
{
    color: black;
    text-align: center;
}
.popup hr
{
    height: 5px;
    background-color: darkcyan;
}
.popup button
{
    border:none;
}
.button
{
    position: absolute;
    top:500px;
    left:1100px;
    background-color:cyan;
    color:blue;
    border:none;
    border-radius: 20px;
    height:80px;
    width: 80px;
    cursor: pointer;
    transition: all 0.8s;
}
.button:hover
{
    background-color:blue;
    color:cyan;
    transition: 0.8s;
}
.popup
{
	width: 300px;
	height: 500px;
	background-color: lightcyan;
	margin: 40px auto;
	position: relative;
	left:200px;
	color: #333;
    border-radius: 35px;
}
.overlay
{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:100vh;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	display:none;
}
#close
{
	position: absolute;
	top:10px;
	left:275px;
	color:black;
    font-family:Arial, Helvetica, sans-serif;   
}
#closa:hover
{
    cursor: pointer;    
}

#chatContent{
    height: 345px;
    display: flex;
    flex-direction: column;
}

.message{

} 
.messageFrom{
    text-align: right;
    background: royalblue;
    align-self: flex-end;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    color:aliceblue;
}
.messageTo{
    text-align: left;
    background:rgb(211, 110, 255);
    align-self: flex-start;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    color:aliceblue;
}
.messageLoading
{
    text-align: left;
    background:rgb(211, 110, 255);
    align-self: flex-start;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    color:aliceblue;
}
.message-box
{
    -webkit-box-flex: 0;
    -ms-flex: 0 1 45px;
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 10px 10px 50px;
    height: 32px;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}
.message-box textarea
{
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    height: 20px;
    margin: 0;
    padding-right: 20px;
    width: 265px;
}
.message-box button
{
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 10px;
    color: #fff;
    border: none;
    background:deepskyblue;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none !important;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}
.chat-title 
{
    -webkit-box-flex: 0;
    -ms-flex: 0 1 45px;
    flex: 0 1 45px;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 10px 10px 50px;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
  }
  .chat-title h2
  {
    font-size: 20px;
  }