body
{
    background-color: darkcyan;
}
.button
{
    position: absolute;
    top:500px;
    left:1100px;
    background-color:cyan;
    color:blue;
    border:none;
    border-radius: 20px;
    height:80px;
    width: 80px;
    cursor: pointer;
    transition: all 1s;
}
.button:hover
{
    background-color:blue;
    color:cyan;
    transition: 1s;
}
.popup
{
	width: 400px;
	height: 500px;
	background: white;
	margin: 40px auto;
	padding: 10px 20px;
	position: relative;
	left:200px;
	color: #333;
}
.overlay
{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:100vh;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	display:none;
}
#close
{
	position: absolute;
	top:-20px;
	left:450px;
	color:#fff;
}
#close:hover
{
	cursor: pointer;
}